In [1]:
import numpy as np
import pandas as pd

In [8]:
fake = "E:/NLP Personal Practise/Assignments/News classification/Fake.csv"
df_fake = pd.read_csv(fake)
df_fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [9]:
true = "E:/NLP Personal Practise/Assignments/News classification/True.csv"
df_true = pd.read_csv(true)
df_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [12]:
df_fake['subject'].unique()

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east'], dtype=object)

In [13]:
df_true['subject'].unique()

array(['politicsNews', 'worldnews'], dtype=object)

In [14]:
df_fake['label'] = 0
df_true['label'] = 1

In [15]:
df_new = pd.concat([df_fake, df_true])

In [17]:
df_new = df_new.reset_index(drop = True)
df_new

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [20]:
df_new = df_new.drop(columns = ['title','subject','date'], axis = 0)
df_new

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
44894  LONDON (Reuters) - LexisNexis, a provider of l...      1
44895  MINSK (Reuters) - In the shadow of disused Sov...      1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...      1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [25]:
file = "E:/NLP Personal Practise/Assignments/News classification/All.csv"
df = pd.read_csv(file)
df

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
...,...,...,...,...
72129,72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72130,72130,WATCH: Giuliani Demands That Democrats Apolog...,"You know, because in fantasyland Republicans n...",1
72131,72131,Migrants Refuse To Leave Train At Refugee Camp...,Migrants Refuse To Leave Train At Refugee Camp...,0
72132,72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0
72133,72133,Goldman Sachs Endorses Hillary Clinton For Pre...,Goldman Sachs Endorses Hillary Clinton For Pre...,1

In [26]:
#To create separate datasets if needed for testing
false_dataset = df[df['label'] == 0]
true_dataset = df[df['label'] == 1]

In [27]:
false_dataset

,Unnamed: 0,title,text,label
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
11,11,"May Brexit offer would hurt, cost EU citizens ...",BRUSSELS (Reuters) - British Prime Minister Th...,0
12,12,Schumer calls on Trump to appoint official to ...,"WASHINGTON (Reuters) - Charles Schumer, the to...",0
14,14,No Change Expected for ESPN Political Agenda D...,As more and more sports fans turn off ESPN to ...,0
15,15,Billionaire Odebrecht in Brazil scandal releas...,RIO DE JANEIRO/SAO PAULO (Reuters) - Billionai...,0
...,...,...,...,...
72124,72124,An Unlikely Contender Rises in France as the A...,"PARIS — In the age of Donald J. Trump, “Bre...",0
72126,72126,Determined to kill: Can tough gun laws end mas...,The flag at Desert Hot Springs' Condor Gun Sho...,0
72129,72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72131,72131,Migrants Refuse To Leave Train At Refugee Camp...,Migrants Refuse To Leave Train At Refugee Camp...,0
72132,72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0

In [28]:
true_dataset

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
5,5,About Time! Christian Group Sues Amazon and SP...,All we can say on this one is it s about time ...,1
...,...,...,...,...
72125,72125,WOW! JILL STEIN’S ‘FIRESIDE CHAT’ Exposes Her ...,,1
72127,72127,WIKILEAKS EMAIL SHOWS CLINTON FOUNDATION FUNDS...,An email released by WikiLeaks on Sunday appea...,1
72128,72128,JUDGE JEANINE SOUNDS FREE SPEECH ALARM: “They ...,Judge Jeanine lets it rip! She s concerned wit...,1
72130,72130,WATCH: Giuliani Demands That Democrats Apolog...,"You know, because in fantasyland Republicans n...",1
72133,72133,Goldman Sachs Endorses Hillary Clinton For Pre...,Goldman Sachs Endorses Hillary Clinton For Pre...,1

In [29]:
df = df.drop(columns = ['title','Unnamed: 0'], axis = 0)
df

                                                    text  label
0      No comment is expected from Barack Obama Membe...      1
1         Did they post their votes for Hillary already?      1
2       Now, most of the demonstrators gathered last ...      1
3      A dozen politically active pastors came here f...      0
4      The RS-28 Sarmat missile, dubbed Satan 2, will...      1
...                                                  ...    ...
72129  WASHINGTON (Reuters) - Hackers believed to be ...      0
72130  You know, because in fantasyland Republicans n...      1
72131  Migrants Refuse To Leave Train At Refugee Camp...      0
72132  MEXICO CITY (Reuters) - Donald Trump’s combati...      0
72133  Goldman Sachs Endorses Hillary Clinton For Pre...      1

[72134 rows x 2 columns]

In [30]:
df.isnull().sum()

text     39
label     0
dtype: int64

In [31]:
df = df.dropna()
df.isnull().sum()

text     0
label    0
dtype: int64

In [32]:
df.duplicated().sum()

9376

In [33]:
df = df.drop_duplicates()
df.duplicated().sum()

0

In [34]:
len(df)

62719

In [35]:
import nltk
from nltk.tokenize import sent_tokenize,word_tokenize
def tokenizewords(text):
    return ' '.join(word_tokenize(text))

df['text'] = df['text'].apply(tokenizewords)
df.head()

                                                text  label
0  No comment is expected from Barack Obama Membe...      1
1    Did they post their votes for Hillary already ?      1
2  Now , most of the demonstrators gathered last ...      1
3  A dozen politically active pastors came here f...      0
4  The RS-28 Sarmat missile , dubbed Satan 2 , wi...      1

In [36]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stemwords(text):
    return ' '.join([ps.stem(word) for word in text.split()])

df['text'] = df['text'].apply(stemwords)
df.head()

                                                text  label
0  no comment is expect from barack obama member ...      1
1     did they post their vote for hillari alreadi ?      1
2  now , most of the demonstr gather last night w...      1
3  a dozen polit activ pastor came here for a pri...      0
4  the rs-28 sarmat missil , dub satan 2 , will r...      1

In [37]:
from nltk.corpus import stopwords
sw_list = stopwords.words('english')

def remove_stopwords(text):
    return ' '.join([word for word in text.split() if word.lower() not in sw_list])

df['text'] = df['text'].apply(remove_stopwords)
df.head()

                                                text  label
0  comment expect barack obama member # fyf911 # ...      1
1                        post vote hillari alreadi ?      1
2  , demonstr gather last night exercis constitut...      1
3  dozen polit activ pastor came privat dinner fr...      0
4  rs-28 sarmat missil , dub satan 2 , replac ss-...      1

In [ ]:
#Save it takes heck lot of time

In [38]:
df.to_csv('E:/NLP Personal Practise/Assignments/News classification/processed_data.csv', index=False)

In [40]:
X = df['text']
Y = df['label']

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state = 0)

print(X)
print(Y)

0        comment expect barack obama member # fyf911 # ...
1                              post vote hillari alreadi ?
2        , demonstr gather last night exercis constitut...
3        dozen polit activ pastor came privat dinner fr...
4        rs-28 sarmat missil , dub satan 2 , replac ss-...
                               ...
72127    email releas wikileak sunday appear show forme...
72129    washington ( reuter ) - hacker believ work rus...
72130    know , becaus fantasyland republican never que...
72131    migrant refus leav train refuge camp hungari t...
72132    mexico citi ( reuter ) - donald trump ’ comb s...
Name: text, Length: 62719, dtype: object
0        1
1        1
2        1
3        0
4        1
        ..
72127    1
72129    0
72130    1
72131    0
72132    0
Name: label, Length: 62719, dtype: int64

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_df = 0.7)

tfidf_train = tfidf.fit_transform(X_train)
tfidf_test = tfidf.transform(X_test)

In [55]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression(solver='liblinear', penalty = 'l1')
model1.fit(tfidf_train, Y_train)

LogisticRegression(penalty='l1', solver='liblinear')

In [56]:
Y_pred = model1.predict(tfidf_test)

In [57]:
from sklearn.metrics import confusion_matrix 
cm= confusion_matrix(Y_test, Y_pred)
cm

array([[10027,   411],
       [  387,  7991]], dtype=int64)

In [58]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test, Y_pred)
accuracy

0.9575892857142857

In [59]:
from sklearn.linear_model import PassiveAggressiveClassifier
model2 = PassiveAggressiveClassifier(max_iter = 50)
model2.fit(tfidf_train, Y_train)

PassiveAggressiveClassifier(max_iter=50)

In [60]:
Y_pred = model2.predict(tfidf_test)

In [61]:
from sklearn.metrics import confusion_matrix 
cm= confusion_matrix(Y_test, Y_pred)
cm

array([[10040,   398],
       [  425,  7953]], dtype=int64)

In [62]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test, Y_pred)
accuracy

0.9562606292517006